services:
  unified-search:
    build: .
    container_name: unified-search
    ports:
        - "8080:8080"
    volumes:
        - ./data:/app/data
    environment:
        - OIDC_CLIENT_ID=3hd31qLKB8O9agTgh1GviGbLfiMoAcVLeIOULgeh
        - OIDC_CLIENT_SECRET=y4JhRrkWnM2y59g7G10YC1c358cDtXCfHElUNcv5btNVEMKIvHzFNB5A1RtJaEQxRT0UgxR0frhDRLoUxGw44K2DFHj1OB0NChCt7Iy7d2S9hrpezaE0dWlX0spIc1Ga
        - OIDC_ISSUER_URI=https://auth.emly.dev/application/o/unified-search/
    restart: unless-stopped
