services:
  self-search:
    image: ghcr.io/selim042/selfsearch:master
    container_name: self-search
    ports:
        - "8080:8080"
    volumes:
        - ./data:/app/data
    environment:
        - OIDC_CLIENT_ID=client_id
        - OIDC_CLIENT_SECRET=client_secret
        - OIDC_ISSUER_URI=https://auth.example.com/application/o/unified-search/
    restart: unless-stopped
